target/
!.mvn/wrapper/maven-wrapper.jar
*.log

# SQLite 内嵌数据库文件（删除即重置）
data/
*.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
